p{
   font-family: monospace;
   color: #696e79;
}
h2{
	color: #696e79;
}
a{
  text-decoration: none;
  color: white;
  border-radius:2px;
  font-family: Arial;
  font-size: inherit;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  padding-right: 200px;
  padding-left: 200px;
  background: #20bd99;
  border: 1px solid #20bd99;
  /*margin-right:10px;
  padding:10px 10px 10px 10px;*/

}
img{
	float: left;
	margin-right:30px; 
}
body{
	padding-left: 100px;
	padding-right: 200px;
}
