p{
   font-family: monospace;
   color: #696e79;
}
h2{
	color: #696e79;
}

img{
	float: left;
	margin-right:40px; 
}

form{
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 200px;
}
